/*
	The HBWinter Template for Hailboards 1.2.0 
	(c)2005 Phatooine Network Productions
	Distributed under the GNU General Public License, Version 2 or Later
*/

.MainTable {
	background-color: #9189aa;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	text-decoration: none;
}
.MainMenuRowAlt {
	background: transparent;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
	color: gold;
	text-decoration: none;
}
.MainMenuRow {
	background: url(templates/HBWinter/images/MainMenuRow.png) #44486e repeat-x;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	color: white;
	text-decoration: none;
}
.MainMenuLink {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	color: lightgrey;
	text-decoration: none;
}
a {
	text-decoration: none;
}
a.MainMenuLink:hover {
	text-decoration: underline;
	color: aliceblue;
}
a.MainMenuLink:active {
	text-decoration: underline;
	color: aliceblue;
}
.BoardColumn {
	background: url(templates/HBWinter/images/BoardColumn.png) #7d7eaa repeat-x;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: #f5f7ec;
	text-decoration: none;
}
.BoardColumnLink {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: #fbebbf;
	text-decoration: none;
}
a.BoardColumnLink:hover {
	text-decoration: underline;
}
a.BoardColumnLink:active {
	text-decoration: underline;
}
.BoardRowA {
	background-color: #C3C8D8;
	background: url(templates/HBWinter/images/BoardRowA.png) #C3C8D8 repeat-x;
	border: 1px solid #6f709a;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
}
.BoardRowALink {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: black;
	text-decoration: none;
}
.BoardRowALink:hover {
	text-decoration: underline;
}
.BoardRowALink:active {
	text-decoration: underline;
}
.BoardRowB {
	background-color: #D3DADF;
	background: url(templates/HBWinter/images/BoardRowB.png) #D3DADF repeat-x;
	border: 1px solid slateblue;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	color: black;
	text-decoration: none;
}
.BoardRowBLink {
	background:transparent;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	color: black;
	text-decoration: none;
}
a.BoardRowBLink:hover {
	text-decoration: underline;
}
a.BoardRowBLink:active {
	text-decoration: underline;
}
.BoardRowBSticky {
background: url(templates/HBWinter/images/BoardColumn.png) #7d7eaa repeat-x;
	background-color: #BCB9BF;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	color: white;
	text-decoration: none;
}
.SubjectLink {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: black;
	text-decoration: underline;
}
a.SubjectLink {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: black;
	text-decoration: underline;
}
a.SubjectLink:hover {
	text-decoration: underline;
}
a.SubjectLink:active {
	text-decoration: underline;
}
a.SubjectLink:visited {
	font-weight: bold;
	text-decoration: underline;
}
.ForumDescription {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	text-decoration: none;
}
.AuthorLink {
	background-color: #C3C8D8;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: black;
	text-decoration: none;
}
.VersionText {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	color: white;
	text-decoration: none;
}
.InputSection {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: firebrick;
	text-decoration: none;
}
.InputNotes {
	background-color: transparent;
	font-family: verdana,arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 9pt;
	color: black;
	text-decoration: none;
	width: 65%;
}
.SignatureTitle {
	background-color: transparent;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}
.SignatureText {
	background-color: transparent;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	color: black;
	text-decoration: none;
}
body {
	COLOR: black;
	BACKGROUND-COLOR: #45466D;
}
a.OnlineModsLink {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	COLOR: #fdf7e4;
	FONT-FAMILY: verdana,arial, helvetica, sans-serif;
	BACKGROUND-COLOR: transparent;
	TEXT-DECORATION: underline;
}


B     { font-weight: bold; }
.red  { color: #880000; }
.grey { color: #999999; }

.statistictext { color: white; }
.statisticvalue
{
color: yellow;
font-weight: bold;
}

.QuotedText {
border: 1px dashed #888888;
background-color: #A1A3AC;
font-family: verdana,arial,sans-serif;
font-weight: normal;
font-size: 9pt;
color: white;
text-decoration: none;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
padding: 5px;
}

.tos {
font-family: verdana,arial,sans-serif;
font-size: 8pt;
}

.AdminMenuLink {
background-color: transparent;
font-family: tahoma,arial,sans-serif;
font-weight: bold;
font-size: 8pt;
color: #FFCC99;
text-decoration: none;
}
.genericuser
{
color: cornflowerblue; font-weight: bold; font-style: normal; background-color: transparent; text-decoration: none;;
}
@import url("formIE.css");
